!!! 5
%html
	%head
		%title Pin
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body{"ng-app" => "myApp"}
		- if user_signed_in?
			%ol.breadcrumb
				%li.active= ""

				%li
					= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-user") + " " + current_user.email), edit_user_registration_path, :id => "navbar-link"
				
				%li
					= link_to (content_tag(:span, "", :class => "glyphicon glyphicon-log-out") + " Sign out"), destroy_user_session_path, :id => "navbar-link", method: "delete"

				%li
					%a.navbar-link{ "href" => "/pin_posts/new"}
						%span.glyphicon.glyphicon-list-alt
						New Pin
				%li
					%a{ "href" => "javascript:;", "id" => "toggle-calendar"} 	
						%span.glyphicon.glyphicon-calendar
						Calendar


				%a{ "href" => "/", "id" => "nav-brand"} 	
					%span.glyphicon.glyphicon-home
					Home

				- if notice
					%p.alert.alert-success{ "style" => " display:inline;"}= notice
				- if alert
					%p.alert.alert-danger{ "style" => " display:inline;"}= alert

				
				
		- else
			%ol.breadcrumb
				%li.active= ""
				%li
					%a.navbar-link{ "href" => "/users/sign_up"}
						%span.glyphicon.glyphicon-plus
						Sign up
				%li
					%a.navbar-link{ "href" => "/users/sign_in"}
						%span.glyphicon.glyphicon-sunglasses
						Sign in
				%a{ "href" => "/", "id" => "nav-brand"} 	
					%span.glyphicon.glyphicon-home
					Home

		- if user_signed_in? 
			#calendar
			

		.container.container-left
			= yield

		= render 'fullcalendar'
		= render 'dialog'