!!! 5
%html
	%head
		%title Pin
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		- if user_signed_in?
			%ol.breadcrumb
				%li.active= ""
				%li= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link'
				%li= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'navbar-link'
				%li= link_to "New Pin", new_pin_post_path, :class => 'navbar-link'
				= link_to "", root_path, :class => 'navbar-link glyphicon glyphicon-home', :id => 'nav-brand'

				%li.active= current_user.email
				- if notice
					%p.alert.alert-success{ "style" => " display:inline;"}= notice
				- if alert
					%p.alert.alert-danger{ "style" => " display:inline;"}= alert
		- else
			%ol.breadcrumb
				%li.active= ""
				%li= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'
				%li= link_to 'Login', new_user_session_path, :path => 'navbar-link'


		#calendar

		.container

			= yield

		= render 'fullcalendar'
		= render 'dialog'
		